@charset "UTF-8";
@font-face { 
font-family: 'NanumBarunGothicLight';
src: url('/static/assets/fonts/nanum/NanumBarunGothicLight.ttf') format('truetype');
}


html,body {
font-family: 'NanumBarunGothicLight';
height: 100%;

}

.height100{
	height: 100%;
}	

.height90{
	height: 90%;
}	
.pt20{
	padding-top: 20px;
}


.mt10{
	margin-top: 10px;
}

.mt50{
	margin-top: 50px;
}

.mr10{
	margin-right: 10px;
}

.ml40{
	margin-left: 100px;
}
.top-minus-10per{
	top: -10%;
}


.form-control {
       min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
}

.form-control:focus {
	border-color: #70c5c0;
}

   .form-control, .btn {        
       border-radius: 2px;
   }
   
.wrap{
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100%;
}

.login-form {
	width: 350px;
	position : relative;
} 

   .login-form form {
	color: #7a7a7a;
	border-radius: 2px;
       font-size: 13px;
       background: #ececec;
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
       padding : 5px 30px 10px 30px;	
   } 
   
.login-form h2 {
	font-size: 22px;
       margin: 35px 0 25px;
   }
   
.login-form .avatar {
	margin: 0 auto;
	position: relative;
	top: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	z-index: 1;
	background: #c64756;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
	width: 100%;
}	

.login-form input[type="checkbox"] {
     margin-top: 2px;
}
 
.login-form .btn-login {        
	font-size: 16px;
	font-weight: bold;
	background: #c64756;
	border: none;
	color:white;
	margin-bottom: 20px;
}
   
.login-form .btn-join {        
	font-size: 16px;
	font-weight: bold;
	background: #808080;
	color:white;
	border: none;
	margin-bottom: 20px;
}
   
.login-form .btn-login:hover, .login-form .btn:focus {
	background: #c64756;
       outline: none !important;
}    

.login-form .btn-join:hover, .login-form .btn:focus {
	background: #373737;
       outline: none !important;
}  

.login-form a {
	color: #fff;
	text-decoration: none;
}

.login-form a:hover {
	text-decoration: none;
}

.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}

.login-form form a:hover {
	text-decoration: none;
}

.login-form .findPwd:hover {
	text-decoration: underline;
}

.loding{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:3;
  display: none;
}   

.gi-1_5x{
	font-size: 1.5em;
}
.gi-2x{
	font-size: 2em;
}
.gi-3x{
	font-size: 3em;
}
.gi-4x{
	font-size: 4em;
}
.gi-5x{
	font-size: 5em;
}


.txt-title{
	color: #231F00;
}

.txt-content{
	color: #574D00;
}

.txt-point{
	color:#B6A89B;
}

.main-wrap{
	height: 100%;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
	
.main-content{
	height: 100%;
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;

}


.main-area{
	height: 100%;
	padding: 0;
}

.menuBtn{
	color: white;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 68%;
	text-align: center;
}

.bot-nav{
	height: 55px;
	background-color: #c64756;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.nav-txt{
	font-weight: bold;
	font-size: .8em;
	color:  white;
	display: block;
	text-align: center;
	
}

.menuList{
	background-color : white ;
	height:inherit;
	width: 100%;
	overflow: auto;
}

.menuList-modify{
	background-color : white ;
	height:inherit;
	width: 100%;
	overflow: auto;
	padding-bottom:50px;
}

.back-head{
	height: 50px;
	display: inline-block;
}

.back-head-wrap{
	border-bottom:1px solid #c64756;
	background-color : white;
	position: sticky; 
	top: 0;
	z-index: 2;
	height: 55px;
}

.btn-setting{
	position: fixed;
	top: 15px;
	/* width: 100% */
	right: 20px;
	color:  #c64756;
	font-size: 1.5em;
}

.insert-head-wrap{
	position:fixed;
	text-align:center;
	height: 50px;
	bottom: 50px;
	width:100%;
	margin-bottom: 1px;
	display: none;
	z-index: 2;
}

.btn-back{
	font-size: 1.7em;
	color:  #c64756;
	margin : 10px 5px 20px 20px;
       height: 3%;
       padding: 0;
       position:relative;
       top :5px; 
       
}
.top-insert-txt{
	font-weight: bold;
	font-size: 1.2em;
	color: #f3f3f3;
}


.top-back-txt{
	font-weight: bold;
	font-size: 1.2em;
	color: #c64756;
}

.profile-box{
	text-align: center;
}

.profile-img{
	background: #f3f3f3;
	width: 75px;
	height: 75px;
	border-radius: 35px;
	display: inline-block;
	margin-top: 20px;
	background-image: url("/static/assets/img/temp/dog.PNG");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 1px 1px 3px #cacaca;
}

.nick-box{
	text-align: center;
	line-height: 35px;
	margin-bottom: 20px;

}
.nick-txt{
	background-color: #534847; 
	padding : 1px 10px 1px 10px ;
	margin-top : 5px;
	border-radius: 10px;
	display: inline-block;
	font-weight: bold;
	color: white;
}

.cate-menu{
	padding : 0;
	padding: 0 0 5px 10px;
	font-weight: bold;	
	background: white;
	margin-top: 10px;
	
}
.cate-menu-root{
	padding : 0;
	padding: 0 0 5px 10px;
	font-weight: bold;
	color:#EC7357;
	background: white;
}


.cate-tit{
	font-size :1.2em;
	color: #333030;	
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.cate-desc{
	font-size :0.8em;
	margin-left: 35px;		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #a3a1a1;
}

.cate-inner-box{
	display: none;
	padding-left: 15px;
}

.cate-icon{
	font-size :1.2em;
	position:relative;
	color:  #c64756;
	margin-right: 10px;
}

.cate-tab {
	margin: 10px 10px 15px 10px;
}

.cate-tab a{
	color: #534847;
	font-weight: bold;
}


/*===================카테고리 수정페이지 팝업==============*/


.modify-pop{
	position:fixed;
	border-radius: 5px;
	width: 80%;
	height: 450px;
	top: 50%;
	left : 50%;
	margin-left :-40%;
	margin-top : -210px;
	background-color: white;
	box-shadow: 3px 3px 10px #534847;
	z-index : 4;
	display: none; 
	padding-bottom: 20px;
	
}

.modify-pop-tit-txt{
	color:white;
}
.pop-head-wrap{
	border-bottom:1px solid #c64756;
	background-color:#c64756;
	height: 45px;
}

.modify-pop-body{
	height:360px;
	width: 100%;
	padding: 20px 20px 50px 20px ;
	overflow-y: auto;
}


.pop-btn-float{
	width: 50%;
	height: 40px;
	background-color:#c64756;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
}

.pop-btn-delete{
	width: 50%;
	height: 40px;
	background-color:#cb7575;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
}

.pop-btn-save{
	width: 50%;
	height: 40px;
	background-color:#c64756;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
}

.pop-btn-full{
	width: 100%;
	height: 40px;
	background-color:#c64756;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pop-btn-wrap{
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.pop-path{
	font-weight: bold; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px; 
	display: inline-block;
	background-color: #c64756;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-size: 0.8em;
	max-width : 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.path-split{
	color: #534847;
	display: inline-block;
	position: relative;
	top: -11px;
}

.empty-folder{
	margin-top : 10px;
	background-color: #f3f3f3;
	text-align: center;
	border-radius: 10px;
	line-height:50px;
	height: 50px;
	font-weight: bold;
	font-size: 1.2em;
	color: #2E294E;
	
}
/*===================//카테고리 수정페이지 팝업==============*/
/*===================카테고리 선택 팝업==============*/
.select-position-pop{
	position:fixed;
	border-radius: 5px;
	width: 80%;
	height: 450px;
	top: 50%;
	left : 50%;
	margin-left : -40%;
	margin-top : -210px;
	background-color: white;
	box-shadow: 3px 3px 10px #534847;
	z-index : 5;
	display: none; 
	padding-bottom: 20px;
}

.pop-folder-area{
	width: 100%;
	margin-bottom: 10px;
}
.pop-folder-selected-tit{
	height:45px;
	widows : 100%;
	font-weight:  bold;
	font-size: 1.2em;
	text-align: center;	
	color:white;
	margin-top: 2px;
	padding: 10px;
	background-color:  #c64756;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pop-folder-tit{
	font-size :1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight : bold;
	color: #333030;
	position: relative; 
	top:5px;
}

.pop-folder-desc{
	font-size :0.8em;
	margin-left: 40px;		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight : bold;
	color: #a3a1a1;
	
}

.folderRow{
	background-color: #f3f3f3;
	height: 55px;
	margin-top: 10px;
}
.radioCell{
	display: flex;
    align-items: center;
	height: 100%;
	text-align: center;
}

.textCell{
	margin-top:5px;
	height: 100%;
	vertical-align: middle;
	
}

.path-explorer{
	font-size :1.1em;
	font-weight : bold;
	color: #333030;	
	margin-bottom: 5px;
	vertical-align: middle;
}

.top-minus{
	position: relative;
	top:-4px;
}
/*===================//카테고리 선택 팝업==============*/

input[type=radio]{
  transform:scale(1.3);
  margin-left: 10px;
}



/*===================폴더이동=============*/


.move-cate{
	width:100%;
	height: 100%;
	background-color: white;
	padding-bottom: 97px;
	
}



.move-cate-head-wrap{
	border-bottom:1px solid #c64756;
	background-color:#c64756;
	height:50px;
}

.move-cate-body{
	height: 100%;
	width: 100%;
	padding: 20px 20px 50px 20px ;
	overflow-y: auto;
}


.move-cate-context-menu{
	z-index:2;
    position: absolute;
    background-color:#f3f3f3;
  	box-shadow: 3px 3px 10px #534847;
  	border-radius : 5px;
  	width : 100px;
  	height : 200px;
    display: none;
}


.move-cate-context-menu-head-wrap{
	background-color:#c64756;
	height:35px;
	padding: 5px;
}
.move-cate-context{
	font-weight: bold;
	font-size: 0.8em;
	color: #f3f3f3;
}

.move-cate-icon{
	font-size :3em;
	position:relative;
	color:  #c64756;
	margin-left: 15px;
	margin-right :15px;
	position: relative;
	top: 12px;
}

.move-cate-icon-empty{
	font-size :1.2em;
	position:relative;
	color:  #c64756;
	margin-right: 10px;
	color: white;
}
.move-cate-tit{
	font-size :1.2em;
	font-weight : bold;
	color: #333030;
	width : 100%;
	padding-left: 80px;
	position: relative;
	top: -30px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.move-cate-desc{
	font-size :0.8em;
	margin-left: 5px;		
	font-weight : bold;
	color: #a3a1a1;
	
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight : bold;
}

.move-cate-Row{
	background-color: #f3f3f3;
	height: 70px;
	margin-top: 10px;
}

.move-cate-path{
	font-weight: bold; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px; 
	display: inline-block;
	background-color: #c64756;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-size: 1.0em;
	max-width : 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
/*===============================문장페이지================================*/
.sentenceList{
	background-color : white ;
	height:inherit;
	width: 100%;
	overflow: hidden;
}

.sentence-wrap{
	background-color : white;
	width: 100%;
	height : 100%;
}

.sentence-box{
	display: none;
	width: 100%;
	height : 100%;
}

.sentence-btn-wrap{
	width: 100%;
	height : 100%;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sentence-btn-float{
	width: 50%;
	height: 40px;
	background-color: #c64756;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-right:10px;
	margin-left:10px;
	float: left;
	border-radius: 5px;
	box-shadow: 1px 3px 6px #8b8687;
}

.sentence-btn-full{
	position: fixed;
	bottom: 56px;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 2;
	height: 55px;
	line-height: 55px;
	background-color:#c64756;
	color: white;
	font-size:1.2em;
	font-weight: bold; 
	text-align: center;
	float: left;
}
.sentence-append-point{
	position:absolute;
	top:0;
	padding-top:70px;
	width : 100%;
	height:100%;
	background-color: white;
	color: #534847;
	overflow: auto;
	font-size : 1.8em;
	padding-left : 20px;
	padding-right : 20px;
	padding-bottom :170px;
	white-space : normal ;
	line-height: 200%;
	-ms-overflow-style: none; 
}


.sentence-append-point::-webkit-scrollbar{ 
	display:none; 
	background-color: #8c9184;
}

.text-on{
	color: white;
	background-color: #333030;
}



.word-box-temp{
	background-color: #f4f7f7;
	color: white;
}

.word-box-on{
	background-color: #96bb7c;
	color: white;
}


.context-menu-wrap{
	position: absolute;
	top:0;
	left: 0;
	display: none;
	background-color: white;
	color: #5e5e5f;
	box-shadow: 1px 3px 6px #5e5e5f;
	height: 40px;
	z-index: 3;
	font-size :0.8em;
	padding : 5px 10px 5px 10px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}


.context-menu{
	margin-left: 10px;	
	margin-right: 10px;
}

.tool-box-wrap{
	position: absolute;
	top: 50%;
	left: 82%;
	background-color: white;
	color: #8b8687;
	box-shadow: 1px 3px 6px #5e5e5f;
	z-index: 5;
	font-size :0.9em;
	padding : 5px 10px 5px 10px;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	display: none;
}

.tool-box-item{
	padding: 7px;
}

.input-word{
	position: absolute;
	width: 80%;
	height: 400px;
	top : 10%;
	left: 10%;
	z-index: 5;
	background-color: white;
	box-shadow: 1px 3px 6px #5e5e5f;
	padding : 10px 10px 5px 10px;
	display: none;
}

.input-title{
	position: absolute;
	width: 80%;
	height: 230px;
	top : 10%;
	left: 10%;
	z-index: 5;
	background-color: white;
	box-shadow: 1px 3px 6px #5e5e5f;
	padding : 10px 10px 5px 10px;
	display: none;
}

.wordArea{
	width: 100%;
	height: 70%;
	resize: none;
}

.glyphicon-tag{
	vertical-align:bottom;
	position: relative;
	top: -5px;
	left: -5px;
	color: #fad586;
	width: 0;
}

.target-word{
	margin: 20px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

.hidden{
	display: none;
}




::selection { 
	background: #96bb7c;
	color: white;
}

/* 
.words{
	color: #ff7473;
	height: 30px;
	margin-top: -25px;
	word-break : normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.sentence-btn-delete{
	width: 50%;
	height: 40px;
	background-color:#cb7575;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
}

.sentence-btn-save{
	width: 50%;
	height: 40px;
	background-color:#c64756;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
} */




/*===============================/문장페이지===============================*/
