@charset "UTF-8";
	@font-face { 
	font-family: 'NanumBarunGothic';
	src: url('/static/assets/fonts/nanum/NanumBarunGothic.ttf');
	src: url('/static/assets/fonts/nanum/NanumBarunGothic.ttf') format('embedded-opentype'),
	url('/static/assets/fonts/nanum/NanumBarunGothic.ttf') format('ttf');
	}
	
	html,body {
	font-family: 'NanumBarunGothic', 'serif';
	height: 100%;
	}

	.height100{
		height: 100%;
	}	
	
	.pt20{
		padding-top: 20px;
	}


	.mt10{
		margin-top: 10px;
	}
	
	.mt50{
		margin-top: 50px;
	}
	
	.mr10{
		margin-right: 10px;
	}
	
	.top-minus-10per{
		top: -10%;
	}
	
	
	.form-control {
        min-height: 41px;
		background: #fff;
		box-shadow: none !important;
		border-color: #e3e3e3;
	}
	
	.form-control:focus {
		border-color: #70c5c0;
	}
	
    .form-control, .btn {        
        border-radius: 2px;
    }
    
	.wrap{
		position:relative;
		display: flex;
		justify-content: center;
		align-items: center; 
		height: 100%;
	}
	
	.login-form {
		width: 350px;
		position : relative;
	} 
	
    .login-form form {
		color: #7a7a7a;
		border-radius: 2px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding : 5px 30px 10px 30px;	
    } 
    
	.login-form h2 {
		font-size: 22px;
        margin: 35px 0 25px;
    }
    
	.login-form .avatar {
		margin: 0 auto;
		position: relative;
		top: 30px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		z-index: 9;
		background: #70c5c0;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	
	.login-form .avatar img {
		width: 100%;
	}	
	
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    
    .login-form .btn-login {        
        font-size: 16px;
        font-weight: bold;
		background: #70c5c0;
		border: none;
		color:white;
		margin-bottom: 20px;
    }
    
    .login-form .btn-join {        
        font-size: 16px;
        font-weight: bold;
		background: #808080;
		color:white;
		border: none;
		margin-bottom: 20px;
    }
    
	.login-form .btn-login:hover, .login-form .btn:focus {
		background: #50b8b3;
        outline: none !important;
	}    
	
	.login-form .btn-join:hover, .login-form .btn:focus {
		background: #373737;
        outline: none !important;
	}  
	
	.login-form a {
		color: #fff;
		text-decoration: none;
	}
	
	.login-form a:hover {
		text-decoration: none;
	}
	
	.login-form form a {
		color: #7a7a7a;
		text-decoration: none;
	}
	
	.login-form form a:hover {
		text-decoration: none;
	}
	
	.login-form .findPwd:hover {
		text-decoration: underline;
	}
	
	.loding{
	  position:fixed;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background:rgba(0, 0, 0, 0.5);
	  z-index:0;
	  display: none;
	}   
	
	.gi-1_5x{
		font-size: 1.5em;
	}
	.gi-2x{
		font-size: 2em;
	}
	.gi-3x{
		font-size: 3em;
	}
	.gi-4x{
		font-size: 4em;
	}
	.gi-5x{
		font-size: 5em;
	}
	
	
	.txt-title{
		color: #18181B;
	}
	
	.txt-content{
		color: #323234;
	}
	
	.txt-point{
		color:#B6A89B;
	}
	
		
	.main-content{
		height: 93%;
		background-color: #f3f3f3;
	}
	
	.bot-nav{
		height: 7%;
		background-color: #7650AC;
	}
	
	
	.menuBtn{
		color: white;
		position:relative;
		display: flex;
		justify-content: center;
		align-items: center; 
		height: 100%;
	}
	
	
	.menuList{
		position : absolute;
		top:0;
		left : 0;
		background-color: #634391;
		width: 100%;
		height: 100%;
		display: none;
	}
	
	.btn-close{
		font-size: 1.5em;
		color: white;
		margin: 20px;
		display: flex;
        justify-content: flex-end;
	}
	
	.menu-box{
		background-color: white;
		border-radius: 20px;
		height: 90%;
		margin: 20px;
		overflow: auto ;
	}
	
	.profile-box{
		text-align: center;
	}
	
	.profile-img{
		background: #f3f3f3;
		width: 130px;
		height: 130px;
		border-radius: 55px;
		display: inline-block;
		margin-top: 20px;
		background-image: url("/static/assets/img/temp/dog.PNG");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		box-shadow: 1px 1px 3px #cacaca;
	}
	
	.nick-box{
		text-align: center;
		line-height: 35px;
	}
	
	.nick-txt{
		background: #f3f3f3;
		padding : 5px 15px 5px 15px ;
		margin-top : 5px;
		font-size: 1.2em;
		border-radius: 10px;
		display: inline-block;
		font-weight: bold;
		color: #262626;
	}
	
	.cate-box{
		margin: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	
	.cate-tit{
		font-size :1.2em;
	}
	
	.cate-desc{
		font-size :0.8em;
		margin-left: 10px;
	}
	
	
	