@charset "UTF-8";
@font-face { 
font-family: 'NanumBarunGothic';
src: url('/static/assets/fonts/nanum/NanumBarunGothic.ttf');
src: url('/static/assets/fonts/nanum/NanumBarunGothic.ttf') format('embedded-opentype'),
url('/static/assets/fonts/nanum/NanumBarunGothic.ttf') format('ttf');
}

html,body {
font-family: 'NanumBarunGothic', 'serif';
height: 100%;

}
	


.height100{
	height: 100%;
}	

.height90{
	height: 90%;
}	
.pt20{
	padding-top: 20px;
}


.mt10{
	margin-top: 10px;
}

.mt50{
	margin-top: 50px;
}

.mr10{
	margin-right: 10px;
}

.ml40{
	margin-left: 100px;
}
.top-minus-10per{
	top: -10%;
}


.form-control {
       min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
}

.form-control:focus {
	border-color: #70c5c0;
}

   .form-control, .btn {        
       border-radius: 2px;
   }
   
.wrap{
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100%;
}

.login-form {
	width: 350px;
	position : relative;
} 

   .login-form form {
	color: #7a7a7a;
	border-radius: 2px;
       font-size: 13px;
       background: #ececec;
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
       padding : 5px 30px 10px 30px;	
   } 
   
.login-form h2 {
	font-size: 22px;
       margin: 35px 0 25px;
   }
   
.login-form .avatar {
	margin: 0 auto;
	position: relative;
	top: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	z-index: 1;
	background: #70c5c0;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
	width: 100%;
}	

   .login-form input[type="checkbox"] {
       margin-top: 2px;
   }
   
   .login-form .btn-login {        
       font-size: 16px;
       font-weight: bold;
	background: #70c5c0;
	border: none;
	color:white;
	margin-bottom: 20px;
   }
   
   .login-form .btn-join {        
       font-size: 16px;
       font-weight: bold;
	background: #808080;
	color:white;
	border: none;
	margin-bottom: 20px;
   }
   
.login-form .btn-login:hover, .login-form .btn:focus {
	background: #50b8b3;
       outline: none !important;
}    

.login-form .btn-join:hover, .login-form .btn:focus {
	background: #373737;
       outline: none !important;
}  

.login-form a {
	color: #fff;
	text-decoration: none;
}

.login-form a:hover {
	text-decoration: none;
}

.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}

.login-form form a:hover {
	text-decoration: none;
}

.login-form .findPwd:hover {
	text-decoration: underline;
}

.loding{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:2;
  display: none;
}   

.gi-1_5x{
	font-size: 1.5em;
}
.gi-2x{
	font-size: 2em;
}
.gi-3x{
	font-size: 3em;
}
.gi-4x{
	font-size: 4em;
}
.gi-5x{
	font-size: 5em;
}


.txt-title{
	color: #231F00;
}

.txt-content{
	color: #574D00;
}

.txt-point{
	color:#B6A89B;
}

.main-wrap{
	height: 100%;
	padding-bottom: 50px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
	
.main-content{
	height: 100%;
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;

}


.main-area{
	height: 100%;
	padding: 0;
}

.menuBtn{
	color: white;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 68%;
	text-align: center;
}

.bot-nav{
	height: 50px;
	background-color: #807097;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

.nav-txt{
	font-weight: bold;
	font-size: .8em;
	color:  white;
	display: block;
	text-align: center;
	
}

.menuList{
	background-color : white ;
	height:inherit;
	width: 100%;
	overflow: auto;
}

.menuList-modify{
	background-color : white ;
	height:inherit;
	width: 100%;
	overflow: auto;
	padding-bottom:50px;
}

.back-head{
	height: 50px;
	display: inline-block;
}

.back-head-wrap{
	border-bottom:1px solid #807097;
	background-color : white;
	position: sticky; 
	top: 0;
	z-index: 2;
}

.btn-setting{
	position: fixed;
	top: 15px;
	/* width: 100% */
	right: 20px;
	color:  #807097;
	font-size: 1.5em;
}

.insert-head-wrap{
	position:fixed;
	text-align:center;
	height: 50px;
	bottom: 50px;
	width:100%;
	margin-bottom: 1px;
	
}

.btn-back{
	font-size: 1.7em;
	color:  #807097;
	margin : 10px 5px 20px 20px;
       height: 3%;
       padding: 0;
       position:relative;
       top :5px; 
       
}
.top-insert-txt{
	font-weight: bold;
	font-size: 1.2em;
	color: #f3f3f3;
}


.top-back-txt{
	font-weight: bold;
	font-size: 1.2em;
	color: #807097;
}

.profile-box{
	text-align: center;
}

.profile-img{
	background: #f3f3f3;
	width: 75px;
	height: 75px;
	border-radius: 35px;
	display: inline-block;
	margin-top: 20px;
	background-image: url("/static/assets/img/temp/dog.PNG");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 1px 1px 3px #cacaca;
}

.nick-box{
	text-align: center;
	line-height: 35px;
	margin-bottom: 20px;

}
.nick-txt{
	background-color: #534847; 
	padding : 1px 10px 1px 10px ;
	margin-top : 5px;
	border-radius: 10px;
	display: inline-block;
	font-weight: bold;
	color: white;
}

.cate-menu{
	padding : 0;
	padding: 0 0 5px 10px;
	font-weight: bold;	
	/* border-bottom:2px solid #f3f3f3; */
	background: white;
	
}

.cate-tit-noforder:hover{
	color : #D499B9;
}


.cate-tit{
	font-size :1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333030;	
}


.cate-desc{
	font-size :0.8em;
	margin-left: 10px;		
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #a3a1a1;
}

.cate-inner-box{
	display: none;
}

.cate-icon{
	font-size :0.6em;
	position:relative;
	top:-2px;
	color:  #807097;
}

.cate-tab {
	margin: 10px 10px 15px 10px;
}

.cate-tab a{
	color: #534847;
	font-weight: bold;
}


/*===================카테고리 수정페이지 팝업==============*/
.modify-pop{
	position:fixed;
	border-radius: 5px;
	width: 300px;
	height: 420px;
	top: 50%;
	left : 50%;
	margin-left : -150px;
	margin-top : -150px;
	background-color: white;
	box-shadow: 3px 3px 10px #534847;
	z-index : 4;
	display: none; 
	
	
}

.modify-pop-tit-txt{
	color:white;
}
.pop-head-wrap{
	border-bottom:1px solid #807097;
	background-color:#807097;
	height: 12%;
}

.modify-pop-body{
	height:88%;
	width: 100%;
	padding: 20px 20px 50px 20px ;
	overflow-y: auto;
}

.pop-btn-float{
	width: 50%;
	height: 40px;
	background-color:#807097;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	border: 1px solid white;
}

.pop-btn-save{
	width: 100%;
	height: 40px;
	background-color:#807097;
	color: white;
	font-weight: bold; 
	text-align: center;
	padding-top: 10px;	
	float: left;
	margin-bottom: 5px;
}

.pop-btn-wrap{
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.pup-path{
	font-weight: bold; 
	margin-left: 10px;
	margin-bottom: 5px; 
	display: inline-block;
}

/*===================//카테고리 수정페이지 팝업==============*/






/*===================체크박스==============*/
	
input[type="radio"] {
    display:none;
}


input[type="radio"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 0px 0 0;
    vertical-align: middle;
    background: url(/static/assets/img/input/checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}


input[type="radio"]:checked + label span {
    background:url(/static/assets/img/input/checkbox.svg)  -22px top no-repeat;
     background-size: cover;
}

