<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lo.swipenote.mapper.MemberMapper">
    <select id="getMember" resultType="com.lo.swipenote.dto.MemberDto">
        SELECT *
        FROM MEMBER
        WHERE MEMB_NO = #{membNo}
    </select>
    
     <select id="chkIdDuplication" parameterType="String" resultType="int">
        SELECT COUNT(1)
        FROM MEMBER
        WHERE EMAIL = #{id}
    </select>
    
    <insert id="insertMember" parameterType="com.lo.swipenote.dto.MemberDto">
    	INSERT INTO MEMBER	(ID
    						, PWD
    						, NICKNAME
    						, EMAIL
    						, PROFILE_URL
    						) 
    				VALUES	
    						(#{id}
    						, #{pwd}
    						, #{nickname}
    						, #{email}
    						, '/'
    						)
    	
    </insert>
</mapper>