<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lo.swipenote.mapper.MenuMapper">
    <select id="searchSendtenceMenuListById" parameterType="String" resultType="map">
		WITH RECURSIVE HIERARCHY_MENU AS
		(
		    SELECT	MENU_NO
					, TITLE
		            , DESCRIPT
					, FORDER_YN
					, CONCAT(SORT) AS path
					, CONCAT(TITLE) AS MENU_PATH
	                , 0 AS LVL
	                , DEPTH
                    , PARENT_NO
		    FROM	MENU 
			WHERE	PARENT_NO=0 
				AND ID=#{id}
            
		    UNION ALL
		    SELECT	M.MENU_NO
					, M.TITLE
		            , M.DESCRIPT
		            , M.FORDER_YN
		            , CONCAT(HM.PATH ,"-",M.SORT) AS PATH
		            , CONCAT(HM.MENU_PATH ," > ",M.TITLE) AS MENU_PATH
					, HM.LVL+1 AS LVL
					, M.DEPTH
                    , M.PARENT_NO
		    FROM HIERARCHY_MENU HM JOIN MENU M ON HM.MENU_NO = M.PARENT_NO
		)
		SELECT	MENU_NO
				, TITLE
		        , DESCRIPT
	            , FORDER_YN
	            , LVL
	            , DEPTH
	            , PATH
	            , MENU_PATH
                , PARENT_NO
                , (SELECT 'CHILDREN_EXIST' FROM HIERARCHY_MENU group by PARENT_NO HAVING  PARENT_NO= MENU_NO  ) AS CHILDREN
		FROM HIERARCHY_MENU 
		ORDER BY PATH
	</select>
	<select id="searchWordMenuListById" parameterType="String" resultType="map">
		WITH RECURSIVE HIERARCHY_WORD AS
		(
			SELECT	WORD_NO
					, TITLE
					, DESCRIPT
					, FORDER_YN
					, CONCAT(SORT) AS PATH
					, CONCAT(TITLE) AS MENU_PATH
					, 0 AS LVL
					, DEPTH
					, PARENT_NO
			FROM	WORD 
			WHERE	PARENT_NO=0 
				AND ID=#{id}
			
			UNION ALL
			SELECT	W.WORD_NO
					, W.TITLE
					, W.DESCRIPT
					, W.FORDER_YN
					, CONCAT(HW.PATH ,"-",W.SORT) AS PATH
					, CONCAT(HW.MENU_PATH ," > ",W.TITLE) AS MENU_PATH
					, HW.LVL+1 AS LVL
					, W.DEPTH
					, W.PARENT_NO
			FROM HIERARCHY_WORD HW JOIN WORD W ON HW.WORD_NO = W.PARENT_NO
		)
		SELECT	WORD_NO
				, TITLE
				, DESCRIPT
				, FORDER_YN
				, PATH
				, MENU_PATH
				, LVL
				, DEPTH
				, PARENT_NO
				, (SELECT 'CHILDREN_EXIST' FROM HIERARCHY_WORD group by PARENT_NO HAVING  PARENT_NO= WORD_NO  ) AS CHILDREN
		FROM HIERARCHY_WORD 
		ORDER BY PATH
	</select>
	
	
	<select id="searchSentenceUnderMenuListByMenoNo" parameterType="map" resultType="map">
		SELECT	MENU_NO
				, ID
				, TITLE
		        , DESCRIPT
		        , DEPTH
		        , SORT
		        , PARENT_NO
		        , FORDER_YN
		        , USE_YN
		        , INS_DATE
		        , UPT_DATE
		        , (SELECT COUNT(1) FROM MENU WHERE PARENT_NO = M.MENU_NO ) AS UNDER_COUNT
		FROM	MENU M
		WHERE	PARENT_NO = #{menuNo}
			AND	ID = #{id};
	</select>
	
	
	<select id="searchWordUnderMenuListByMenoNo" parameterType="String" resultType="map">
		SELECT	WORD_NO
				, ID
				, TITLE
		        , DESCRIPT
		        , DEPTH
		        , SORT
		        , PARENT_NO
		        , FORDER_YN
		        , USE_YN
		        , INS_DATE
		        , UPT_DATE
		        , (SELECT COUNT(1) FROM WORD WHERE PARENT_NO = W.WORD_NO ) AS UNDER_COUNT
		FROM	WORD W
		WHERE	PARENT_NO = #{menuNo}
			AND	ID = #{id};
	</select>
</mapper>