<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lo.swipenote.mapper.SentenceMapper">
	<select id="searchSentenceListUnderFolder" parameterType="map" resultType="map">
		SELECT	SENTENCE_NO
				, ID
				, MENU_NO
				, TITLE
				, DESCRIPT
		        , CONTENT
		FROM	SENTENCE
		WHERE	TEMP_YN = 'N'
			AND	USE_YN = 'Y'
			AND	ID = #{id}
			AND	MENU_NO = #{menuNo}
	</select>
	
	<select id="getSentence" parameterType="map" resultType="map">
		SELECT	SENTENCE_NO
				, ID
				, MENU_NO
				, TITLE
				, DESCRIPT
		        , CONTENT
		FROM	SENTENCE
		WHERE	TEMP_YN = 'N'
			AND	USE_YN = 'Y'
			AND	ID = #{id}
			AND	SENTENCE_NO = #{sentenceNo}
	</select>
	
	<insert id="saveSentence" parameterType="map">
		INSERT INTO SENTENCE
					(
						ID
						, MENU_NO
						, TITLE
						, DESCRIPT
						, CONTENT
					)
					VALUES
					(
						#{id}
						, #{menuNo}
						, #{title}
						, #{descript}
						, #{sentence}
					)
		<selectKey keyProperty="id" resultType="String" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="modifySentence">
		UPDATE	SENTENCE
		SET		ID = #{id}
				, MENU_NO = #{menuNo}
				, TITLE = #{title}
				, DESCRIPT = #{descript}
				, CONTENT = #{sentence}
		WHERE	SENTENCE_NO = #{sentenceNo}
	</update>
	
	
	<update id="deleteSentence">
		UPDATE	SENTENCE
		SET		USE_YN = 'N'
		WHERE	SENTENCE_NO = #{sentenceNo}
			AND	ID = #{id}
	</update>
</mapper>